<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>
<body>
  <h3>Index page</h3>
  여기는 루트입니다.
</body>

</html>

<!-- Copyright (c) 2022 by Marco Biedermann (https://codepen.io/marcobiedermann/pen/nbpKWV) -->

